* {
    margin: 0px;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* Header Styles Starts*/

.header {
    background-image: url('../images/banner/banner1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: right;
    height: 808px;
}

.header-title {
    color: #151414;
    font-size: 65px;
    font-weight: 700;
    /* width: 525px; */
    padding: 216px 230px 0px 845px;
}

.header-description {
    color: var(--dark-02, #444343);
    font-size: 16px;
    font-weight: 400;
    /* width: 494px; */
    padding: 24px 230px 0px 876px;
}

.btn-1 {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background: #F15B22;
    padding: 20px;
    margin: 32px 230px 0px 1210px;
    /* width: 160px; */
}

/* Header Styles Ends */

/* Section-1 Starts */
.section-1 {
    display: flex;
}

.person-pic {
    margin: 140px 0px 0px 277px;
}

.section-1-div {
    /* margin: 370px 0px 0px 134px; */
}

.section-1-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin: 370px 450px 0px 134px;
}

.section-1-description {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin: 24px 322px 0px 134px;
}

.section-1-list li {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
}
.section-1-list{
    margin-top: 16px;
    padding-left: 134px;
}